@font-face {
    font-family: Din;
    src: url(fonts/din_2014_light.ttf);
}

@font-face {
    font-family: Din-Bold;
    src: url(fonts/din_2014_bold.ttf);
}

.cymk {
    height: 1050pt;
    width: 20%;
    margin-top: 10pt;
}

.david-title {
    height: 100pt;
    width: 75%;
    margin-top: -10px;
}

#contact > h3 {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -10px;
}

#contact > h4 {
    margin-top: -8px;
}

h2 {
    font-family: Din-Bold;
    font-size: 22pt;
    margin-top: -8px;
    margin-left: 10px;
}

h3 {
    font-family: Din-Bold;
    font-size: 16pt;
}


h4 {
    font-family: Din;
    font-size: 16pt;
}

#about {
    margin-top: -25px;
    margin-left: 10px;
}

#contact {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 50px;
}

#resume-body {
    margin-right: 25%;
}

li, ul {
    margin: 0;
}

li > h4 {
    margin: 0;
    margin-bottom: 5px;
}


li > h3 {
    margin: 0;
    margin-bottom: 5px;
}

.inline {
    display: inline-block;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.float-right {
    float: right;
}

#employment {
    margin-top: 14px;
}

.no-margin {
    margin: 0px;
}

.bold {
    font-family: Din-Bold;
}

#personal-projects {
    margin-top: 35px;
}

#skills {
    margin-top: 10px;
}