body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
