

<div class ="intro">
</div>

<div class = 'wrapper'>
  <ul class='navbar'>
    <li> About </li>
    <li> Work </li>
    <li> Games </li>
  </ul>

  <div class='aboutbody'>
    Hello. David Wert's cool site incoming!
  </div>
  </div>
